.wapbanner-content{
    height: 160px;
    background: #5DA0FB;
}
.introduce-content{
    /*height: 280px;*/
    margin-top: 15px;
}
.introduce-box{
    width: 90%;
    margin: 10px auto 0;
    line-height: 1.3rem;
    padding-bottom: 15px;
    /*text-indent: 2em;*/
}

.team-content{}
.team-main{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.team-box{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 0;
    border-radius: 8px;
    background: #F0F7FF;
    margin-top: 10px;
}
.name-box{
    font-weight: bold;
    margin-bottom: 7px;
}
.team-name{
    font-size: 1rem;
    color: #ff5151;
    margin-right: 10px;
}

.team-detail-box{
    width: 72%;
    padding-left: 4%;
}



.title{
    font-size: 1rem;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed #E0E6FA;
    font-weight: 500;
}

.values-content{
    height: 167px;
}

.values-main{
    /*width: 82%;*/
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.values-box{
    width: 20%;
    height: 87px;
    text-align: center;
    margin-top: 21px;
}
.values-box>p{
    margin-top: 15px;
}
.values-icon{
    width: 43px;
    height: 43px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    margin-left: -22px;
}

.regional-content{
}
.regional-main{
    width: 94%;
    margin:15px auto;
    text-align: center;
    line-height: 1.3rem;
}

