*{
    margin: 0;
    padding: 0;
    /*list-style: none;*/
    font-family:"PingFangSC","Roboto","Noto","Helvetica","Source Han Sans",思源黑体,STHeiti,MingLiu;
}
img{
    /*transform: scale(.5);*/
}
.flex{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.content{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
    background: #ffffff;
}
.nav-pad{
    padding-top: 44px;
}
/*nav*/
.nav-content{
    width: 100%;
    height: 44px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    transition: all .3s linear;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.1)
}
.nav-logo{
    margin-left: 15px;
    width: 73px;
    height: 25px;
}
.nav-icon-box{
    width: 60px;
    height: 42px;
}
.nav-icon-box{}
.nav-main{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.94);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 16px;
}
.nav-wapper{
    width: 100%;
    /*padding-top: 30px;*/
    overflow: hidden;
    padding-left: 15px;
}
.line-one{
    width: 2px;
    height: 16px;
    background: #D32F2E;
    float: left;
}
.nav-box{
    width: 100%;
    padding: 20px 0;
    clear: both;
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid #222222;
}
.big-title-box-nav{
    padding-bottom: 20px;
}
.big-title-nav{
    color:#666666 ;
    padding-left: 14px;
}
.small-title-box-nav{
    padding-bottom: 20px;
    overflow: hidden;
}
.nav-box:last-child{
    border-bottom: none;
}
.nav{
    padding:0 15px;
    float: left;
    text-decoration: none;
    color:#eeeeee;
}
.navleft{
    width: 115px;
}
.navright{
    margin-left: 35px;

}
.line-two{
    width: 1px;
    height: 16px;
    background: #666666;
    float: left;
}
.nav-active{
    color: #D32F2E;
}

.nav-box-active{

}
.nav-title-one-box{
    width: 100%;
    height: 16px;
    clear: both;
}
.nav-title-two-box{
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
    display: none;
}
.nav-title-two{
    font-size: 14px;
    color:#ffffff;
    margin-top: 30px;
    display: block;
    text-decoration: none;
}
.nav-line{
    width: 2px;
    height: 16px;
    background:transparent;
    float: left;
    margin-left: 30px;
}
.nav-box-active>.nav-title-one-box>.nav-line{
    background:#D32F2E;
}
.nav-title-one{
    font-size: 16px;
    margin-left: 6px;
    float: left;
    color: #ffffff;
    line-height: 16px;
    text-decoration: none;
}
.nav-box-active>.nav-title-one-box>.nav-title-one{
    color: #D32F2E;
}
.nav-control-icon{
    float: right;
    margin-right: 15px;
    transform:rotate(0deg);
    transition: all .3s linear;
    position: relative;
    top: -3px;
}
.nav-icon{
    transform: scale(.5) rotate(0deg);
}
.nav-icon-red{
    transform: scale(.5) rotate(180deg);
    display: none;
}
.nav-box-active>.nav-title-one-box>.nav-control-icon> .nav-icon-red{
    display: block;
}
.nav-box-active>.nav-title-one-box>.nav-control-icon> .nav-icon{
    display: none;
}
.close-nav{
    float: right;
    transform: scale(.5);
}
.open-nav{
    float: right;
    transform: scale(.5);
}


.wapbanner-content{
    display: -webkit-flex;
    display: flex;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #5DA0FB;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.business-banner-box{
    width: 77%;
    padding: 15px 15px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    -webkit-align-items: center;
}
.business-banner-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto 10px;
}


/*标题样式*/
.title-box{
    text-align: center;
    margin: 0 auto 20px;
}
.title{
    font-size: 16px;
    font-weight:600;
    color: #333333;
    line-height: 23px;
    margin-bottom: 2px;
}
.title-line{
    width: 32px;
    height: 2px;
    background: #D32F2E;
    margin: 0 auto;
}
.title-en{
    font-size: 14px;
    font-weight:bold;
    color: #eeeeee;
    line-height: 18px;
    margin-top: 5px;
    text-transform:uppercase
}


/*footer*/
.wap-footer-content{
    background: #222222;
    color:#ffffff;
    text-align: center;
    /*line-height: 1.8rem;*/
    font-size: 0.7rem;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.wap-footer{
    width: 100%;
    height: 58px;
    justify-content: space-between;
}
.wap-footer-box{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.footer-line{
    width: 20px;
    height: 1px;
    background: #D32F2E;
    margin: 14px auto 0;
}
.footer-text{
    text-decoration: none;
    color: #ffffff;
}

.copyright{
    font-size: 10px;
    line-height: 40px;
    color: #666666;
    text-align: center;
    background: #222222;
}

.ovfHiden{overflow: hidden;height: 100%;}

