.about-banner{
    width: 100%;
    height: 540px;
    background-image: url("../img/about/about_banner_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (min-width:1920px){
    .about-banner{
        background-size: 100% 100%;
    }
}
.banner-tabs-main{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.2);
}
.banner-tabs-box{
    width: 1200px;
    margin: 0 auto;
}
.banner-tab{
    width: 300px;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    color: #ffffff;
    float: left;
    cursor: pointer;
}
.banner-tab-on{
    background: rgba(255,255,255,.2);
}
.banner-text{
    font-size: 48px;
    color: #EEEEEE;
    font-weight: bold;
    text-align: center;
    padding-top: 220px;
}

/*集团概况*/
.introduce-content{}
.introduce-box{
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.introduce-img-box{
    width: 624px;
    height: 420px;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.introduce-img-box>img{
    width: 100%;
    height: 100%;
    transition: all .6s cubic-bezier(.4,0,.2,1);
}
.introduce-img-box>img:hover{
    transform: scale(1.02)
}
.introduce-text-box{
    width: 495px;
    height: 340px;
    padding: 80px 40px 0;
    position: absolute;
    right: 0;
    line-height: 22px;
    font-size: 16px;
    background: #fafafa;
    color: #333333;
}
/*核心团队*/
.team-content{
    overflow: hidden;
    min-height: 1170px;
    display: none;
}
.team-main{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.team-box{
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    display: none;
}
.photo-box{
    width: 145px;
    height: 145px;
    border-radius: 100%;
    background:#bfbfbf;
    position: absolute;
    left: 35px;
    z-index: 2;
}
.photo-box>img{
    width: 100%;
    height: 100%;
}
.name-box{
    height: 75px;
    font-weight: bold;
    position: relative;
    left: 180px;
    align-items: center;
    -webkit-align-items: center;
}
.name{
    /*width: 145px;*/
    font-size: 32px;
    color: #E34745;
    margin-left: 50px;
    margin-right: 50px;
}
.job{
    font-size: 20px;
    color: #393939;
}
.team-detail{
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    background: #f6f6f8;
    color: #666666;
    box-shadow:0px 4px 10px 0px rgba(238,238,238,1);
    position: relative;
}
.team-detail-box{
    width: 803px;
    padding-top: 35px;
    margin-left: 200px;
    line-height: 32px;
    font-size: 16px;
}
.short-detail{
    /*line-height: 55px;*/
    line-height: 30px;
    padding-bottom: 35px;
}
.long-detail{
    top: 40px;
    line-height: 30px;
    display: none;
    padding: 30px 0 36px;
    border-top: 1px solid #eeeeee;
}
.long-detail span{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}
.slide-box{
    width: 1170px;
    position: absolute;
    right: 50px;
    top:125px;
}
.slide-box>img{
    /*display: inline-block;*/
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -45px;
}
.sup{
    display: none;
}
/*.sdown{*/
    /*display: none;*/
/*}*/

/*成员企业*/
.member-content{
    display: none;
}
.member-main{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member-box{
    width:386px;
    height:400px;
    margin-bottom: 20px;
    position: relative;
}
.member-box-big{
    width:590px;
    height:340px;
}
.member-img{
    width: 100%;
    height: 100%;
}
.member-text-box{
    width: 100%;
    height: 140px;
    padding: 24px 30px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background:rgba(51,51,51,.7);
    color: #ffffff;
    font-size: 14px;
    box-sizing:border-box;
}
.member-text-box>p{
    margin-top: 16px;
}
.member-on{
    background:rgba(227,71,69,.7);
}

/*区域布局*/
.map-content{
    height:950px;
    display: none;
}
.map-content>p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 80px;
    color: #333333;
    text-align: center;
}
.map-box{
    width: 750px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
}
