body{
    background: #f0f0f0;
}
.business-banner{
    height: 450px;
    background: url("../img/banner/fw.jpg") no-repeat center center;
}

/*战略伙伴*/
.business-content{
    padding-bottom: 40px;
}
.business-box{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.business-tabs{
    width: 100%;
    height: 270px;
    overflow: hidden;
    justify-content: space-between;
    margin: -68px auto 40px;
}
.tab-box{
    width: 238px;
    height: 265px;
    background: #ffffff;
    cursor: pointer;
    border-top: 5px solid #ffffff;
    transition: all .2s linear;
    box-shadow: 0 2px 3px #ccc;
    float: left;
    display: none;
    margin: 0 1px;
}
/*.tab-box:last-child{*/
    /*margin-right: 0;*/
/*}*/
.tab-box>p{
    font-size: 22px;
    color: #666666;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.tab-icon{
    width: 100px;
    height: 100px;
    margin: 55px auto 0;
}
.bl{
    background: url("../img/icon/business/bl.png") no-repeat center center;
}
.bl-active{
    background-image: url("../img/icon/business/bl1.png");
}
.gyl{
    background: url("../img/icon/business/gyl.png") no-repeat center center;
}
.gyl-active{
    background-image: url("../img/icon/business/gyl1.png");
}
.ky{
    background: url("../img/icon/business/ky.png") no-repeat center center;
}
.ky-active{
    background-image: url("../img/icon/business/ky1.png");
}
.tzzx{
    background: url("../img/icon/business/tzzx.png") no-repeat center center;
}
.tzzx-active{
    background-image: url("../img/icon/business/tzzx1.png");
}
.zg{
    background: url("../img/icon/business/zg.png") no-repeat center center;
}
.zg-active{
    background-image: url("../img/icon/business/zg1.png");
}
.tab-box-active{
    border-top: 5px solid #d60b18;
}
.tab-box:hover{
    border-top: 5px solid #d60b18;
}
.row{
    width: 0;
    height: 0;
    border-width: 33px;
    border-style: solid;
    border-color: transparent  transparent rgb(42,46,49) transparent;
    position: relative;
    transition: all .6s cubic-bezier(.4,0,.2,1);
    margin-top: -23px;
    left:100px;
}
.business-detail{
    width: 920px;
    padding: 100px 140px;
    background: rgb(42,46,49);
    box-shadow: 0 5px 5px #e6e6e6;
    border-radius: 40px;
}
.b{
    font-size: 16px;
    color: #ffffff;
    line-height: 45px;
    text-indent: 2em;
    text-align: center;
}
.b>img{
    margin: 0 auto 60px;
}
.b-detail{
    text-align: left;
}
.b-two,.b-three,.b-four,.b-five{
    display: none;
}
.b-main{
    visibility:hidden;

    /*display: none;*/
}

