*{
    margin: 0;
    padding: 0;
    /*list-style: none;*/
    font-family:"PingFangSC","Source Han Sans",思源黑体,STHeiti,MingLiu;
}
a{
    text-decoration: none;
    display: inline-block;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clear{
    clear: both;
}
.flex{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-wrap: wrap ;
}
.container{
    width: 100%;
    position: relative;
    padding: 100px 0;
}
.bg{
    background-image: url("../img/index/indexIcon.png") ;
}

/*导航条*/
.header-padd{
    width: 100%;
    height: 60px;
    /*background: #393333;*/
    /*opacity: 0.2;*/
}
#ly-header{
    width: 100%;
    height: 80px;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: none;
    /*box-shadow:0 0 10px 0 rgba(0,0,0,0.1);*/
}
.ly-header-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.ly-logo{
    float: left;
    height: 100%;
    overflow: hidden;
}
.ly-logo>img{
    margin-top: 20px;
}
.ly-nav{
    /*width: 800px;*/
    width: 738px;
    height: 100%;
    float:right;
}

.nav-box{
    background: transparent;
    line-height: 16px;
    text-align: center;
    /*color:#ffffff;*/
    color:rgba(255,255,255,.6);
    font-size: 16px;
    padding: 30px 0 31px;
    margin: 0 50px;
    float: left;
    cursor: pointer;
    transition: all .5s ease;
    position: relative;
    border-bottom: 3px solid transparent;
}
.nav-box:last-child{
    margin-right: 0;
}
.nav-box-down{
    color:#333333;
    border-bottom: 3px solid transparent;
}
/*.nav-box:hover{*/
    /*border-bottom: 2px solid #ffffff;*/
/*}*/
/*.nav-box-down:hover{*/
    /*border-bottom: 2px solid #E34745;*/
/*}*/
.nav-box:hover{
    /*color:#E34745;*/
    color:rgba(255,255,255,1);

}
.nav-box-down:hover{
    color:#E34745;
}
.nav-active{
    color:rgba(255,255,255,1);
    border-bottom: 3px solid #ffffff;
}
.nav-mini-content{
    /*width: 210px;*/
    width: 120px;
    margin: 0 45px;
    position: absolute;
    top: 80px;
    left: -75px;
    /*background: #393333;*/
    background: rgba(255,255,255,1);
    /*box-shadow:0px 4px 10px 0px rgba(238,238,238,1);*/
    box-shadow:none;
    display: none;
}
.business-nav:hover .nav-mini-content{
    display: block;
}
.nav-box-mini{
    /*width: 210px;*/
    width: 100%;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color:#333333;
    font-size: 16px;
    /*position: absolute;*/
    /*z-index: 1;*/
}
.nav-mini-active{
    color: #ff5151;
}
.nav-box-mini:hover{
    color: #ff5151;
    /*border-bottom: 4px solid #ff5151;*/
    /*background: #ff5151;*/
}

/*标题样式*/


.title-box{
    text-align: center;
    margin: 0 auto 80px;
}
.title{
    font-size: 32px;
    font-weight:600;
    color: #333333;
    line-height: 45px;
    margin-bottom: 5px;
}

.title-line{
    width: 64px;
    height: 4px;
    background: #D32F2E;
    margin: 0 auto;
}

.title-en{
    font-size: 28px;
    font-weight:bold;
    color: #eeeeee;
    line-height: 34px;
    margin-top: 10px;
}

/*footer*/
.footer-content{
    /*height:155px;*/
    background: #242424;
}
.footer-top{
    width: 100%;
    /*height: 166px;*/
    border: 1px solid #606060;
}
.footer-top-main{
    width: 1200px;
    height: 166px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    margin: 0 auto;
}
.footer-top-main>span{
    font-size: 18px;
    color: #ffffff;
}
.footer-box{
    width: 1200px;
    color: #ffffff;
    font-size: 16px;
    margin: 0 auto;
    padding: 100px 0 69px;
    clear: both;
    overflow: hidden;
}
.footer-box>div{
    width: 220px;
    float: left;
}
.footer-box>div>p{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-box>div>a{
    display: block;
    font-size: 16px;
    color: #666666;
    /*line-height: 16px;*/
    transition: all .6s ease;
    margin-bottom: 20px;
    text-decoration: none;
    /*border-bottom: 1px solid #666666;*/
}
.footer-box>div>a:hover{
    /*color: #ff5151;*/
    text-decoration: underline;
}

.lx{
    font-size: 16px!important;
    color: #666666;
    margin-bottom: 30px!important;
}
.lx>img{
    margin-right: 15px;
}
.footer-line{
    width: 40px;
    height: 1px;
    background: #D32F2E;
    margin-bottom: 30px;
}
.footer-bottom{
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.1);
    font-size: 16px;
    overflow: hidden;
}
.footer-bottom-box{
    width: 1200px;
    margin: 0 auto;
    color: #444444;
    line-height: 70px;
}
.gotocomp{
    margin-left: 556px;
    color:#666666 ;
}

.idd{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
}

.code{
    width: 135px;
    height: 135px;
    margin-top: 20px;
}

@-webkit-keyframes warn{
    0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}
    100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@-moz-keyframes warn{
    0%{-moz-transform:scale(0);transform:scale(0);opacity:1}
    100%{-moz-transform:scale(1);transform:scale(1);opacity:0}
}
@-o-keyframes warn{
    0%{-o-transform:scale(0);transform:scale(0);opacity:1}
    100%{-o-transform:scale(1);transform:scale(1);opacity:0}
}
@keyframes warn{
    0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);opacity:1}
    100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:0}
}
.pulse{position:absolute;height:150px;width:150px;
    border:3px solid #ff5151;
    -webkit-border-radius:75px;-moz-border-radius:75px;border-radius:75px;
    -webkit-box-shadow:0 0 6px #ff5151,0 0 18px #ff5151 inset;
    -moz-box-shadow:0 0 6px #ff5151,0 0 18px #ff5151 inset;
    box-shadow:0 0 6px #ff5151,0 0 18px #ff5151 inset;
    opacity:.12;filter:alpha(opacity=0);
    -webkit-animation:warn 2s ease-out both;
    -moz-animation:warn 2s ease-out both;
    -o-animation:warn 2s ease-out both;
    animation:warn 2s ease-out both;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    background:86px 86px
}
.delay{-webkit-animation-delay:-0.5s;-moz-animation-delay:-0.5s;-o-animation-delay:-0.5s;animation-delay:-0.5s}


/*返回顶部*/
.back-top{
    width: 80px;
    height: 60px;
    background-color: #ffffff;
    background-position:-70px  -378px ;
    position: fixed;
    right: 50px;
    bottom: 200px;
    z-index: 3;
    display: none;
    cursor: pointer;
    box-shadow:0 2px 4px 0 rgba(238,238,238,0.5);
}


