/*banner*/
.banner-content{
    height:450px;
    position: relative;
}

/*lunbo*/
.lunbo-content{
    width:100%;
    height: 100%;
}
.lunbo-box{
    width:100%;
    height: 450px;
    overflow: hidden;
    /*border: 1px solid black;*/
    position: relative;
}
.lunbo-img-content{
    width: 400%;
    height:450px;
    position: absolute;
    left: 0;
    top: 0;
    /*left: 50%;*/
    /*margin-left: -960px;*/
    white-space:nowrap;
}
.lunbo-img-box{
    /*width: 1920px;*/
    width: 25%;
    height:450px;
    float: left;
    display: inline-block;
}
/*.lunbo-img-box img{*/
    /*!*width: 1920px;*!*/
    /*width: 100%;*/
/*}*/

.circle-box{
    position: absolute;
    left: 50%;
    top:370px;
    margin-left: -50px;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer;
}
.circle-active{
    background: #ff5151;
    box-shadow: 0 0 8px #ff5151;
}
.phone-bar{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.2);
}
.phone-box{
    width: 285px;
    line-height: 60px;
    margin: 0 auto;
    align-items: center;
    font-size: 22px;
    color: #ffffff;
}
.phone-box>img{
    margin-right: 6px;
}
.phone-box>span{
    font-size: 22px;
}


/*集团概况*/
.introduce-content{
    height:600px;
}
.introduce-box{
    width: 1200px;
    height: 425px;
    margin: 0 auto;
    position: relative;
}
.introduce-img-box{
    width: 600px;
    height: 360px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 55px;
    overflow: hidden;
}
.introduce-img-box>img{
    width: 100%;
    height: 100%;
    transition: all .6s cubic-bezier(.4,0,.2,1);


}
.introduce-img-box>img:hover{
    transform: scale(1.05)
}
.introduce-text-box{
    width: 580px;
    height: 220px;
    padding: 35px 30px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 3px 7px #dbdbdb;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 2;
    line-height: 30px;
    font-size: 16px;
}
.introduce-btn{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #ff5151;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    margin-top: 35px;
    transition: all .5s ease;
}
.introduce-btn:hover{
    background: red;
}

/*企业优势*/
.advantage-content{
    height:650px;
}
.advantage-box{
    width: 1175px;
    margin: 60px auto 0;
    justify-content: space-between;
    flex-wrap: wrap ;
}

.advantage-main-box{
    width: 355px;
    height: 150px;
    text-align: left;
    color: #666666;
    overflow: visible;
    margin: 30px 10px 10px;
}
.advantage-main-detail{
    font-size: 15px;
    line-height: 25px;
}
.adv-icon{
    width: 50px;
    height: 55px;
    margin: 15px 40px 0 0;
}
.advantage-main-title{
    font-size: 18px;
    margin-bottom: 15px;
}


/*企业愿景*/
.vision-content{
    height:500px;
    background: url("../img/bg2.png");
}
.vision-box{
    width: 1200px;
    margin: 0 auto;
}
.vision-main-box{
    width: 205px;
    margin: 70px 42px;
    float: left;
    display: none;
}
.vision-main-box>p{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-top: 50px;
}
.vision-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff5151;
    box-shadow: 0 0 20px 6px rgba(254,106,106,.47);
    text-align: center;
    margin: 0 auto;
    transition: all .6s linear;
    transform: rotate(0deg);
}
.vision-icon-s{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.vision-icon-s>img{
    width: 100%;
    height: 100%;
}
.vision-icon:hover{
    transform: rotate(360deg);
}
/*旗下业务*/
.business-content{
    height:650px;
    background: url("../img/bg3.png");
}
.business-box{
    width: 1190px;
    margin: 60px auto 0;
    position: relative;
}
.business-left{
    position: relative;
    float: left;
}
.busi-l-box{
    position: relative;
    justify-content: space-between;
    clear: both;
}
.business-icon{
    width: 86px;
    height: 86px;
    border: 1px solid #ff5151;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(250,110,110,.5);
    align-items: center;
    justify-content: center;
    transition: all .6s ease;
    margin: 0 40px;
    visibility: hidden;
}
.business-icon:hover{
    box-shadow: 0 0 50px 5px rgba(250,110,110,.9);
}
.business-title{
    font-size: 24px;
    color: #ffffff;
    line-height: 86px;
}
.business-center{
    width: 500px;
    height: 500px;
    position: absolute;
    top:-75px;
    left: 345px;
}
.business-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-11px;
    margin-top: -10px;
    z-index: 2;
}
.business-right{
    position: relative;
    float: right;
}
.cin{
    display: none;
}
.business-icon:hover .cin{
    display: block;
}


/*战略伙伴*/
.partners-content{
    padding-bottom: 60px;
}
.partners-box{
    width: 1200px;
    margin: 0 auto;
}
.partners-tabs{
    width: 990px;
    height: 100px;
    justify-content: space-between;
    margin: 40px auto 0;
}
.partners-tab{
    cursor: pointer;
}
.row{
    width: 0;
    height: 0;
    border-width: 33px;
    border-style: solid;
    border-color: transparent  transparent #eeeeee transparent;
    position: relative;
    transition: all .6s cubic-bezier(.4,0,.2,1);
    margin-top: -23px;
    left:220px;

}
.partners-detail{
    width: 1080px;
    padding: 40px 45px 30px;
    border-radius: 5px;
    background:#eeeeee;
    color: #333333;
}

.p-two{
    display: none;
}
.p-three{
    display: none;
}
.p-detail{
    width: 520px;
    align-items: center;
    line-height: 30px;
    float:right;
    padding-top: 55px;
}

/*弹框*/
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
    display: none;
}
.pop{
    width: 700px;
    height: 350px;
    background: rgba(255,255,255,1);
    color: #333333;
    position: fixed;
    left: 50%;
    margin-left: -350px;
    top: 200px;
    border-radius: 10px;
    z-index: 9;
    transition: all .6s cubic-bezier(.4,0,.2,1);
    display: none;
}
.pop-btn{
    width: 176px;
    height: 44px;
    line-height: 44px;
    background: #d60b18;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -88px;
    bottom:30px;
    transition: all .5s ease;
    cursor: pointer;
}
.pop-btn:hover{
    background: #e85151;
}
.close-pop{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
.pop-detail{
    width: 570px;
    height: 280px;
    text-indent: 2em;
    /*color: #242424;*/
    font-size: 18px;
    margin: 0 auto ;
    line-height: 45px;
    align-items: center;
}








