/*banner*/
.banner-content{
    height:450px;
    position: relative;
}

/*lunbo*/
.lunbo-content{
    width:100%;
    height: 100%;
}
.lunbo-box{
    width:100%;
    height: 450px;
    overflow: hidden;
    /*border: 1px solid black;*/
    position: relative;
}
.lunbo-img-content{
    width: 400%;
    height:450px;
    position: absolute;
    left: 0;
    top: 0;
    /*left: 50%;*/
    /*margin-left: -960px;*/
    white-space:nowrap;
}
.lunbo-img-box{
    /*width: 1920px;*/
    width: 25%;
    height:450px;
    float: left;
    display: inline-block;
}
/*.lunbo-img-box img{*/
    /*!*width: 1920px;*!*/
    /*width: 100%;*/
/*}*/

.circle-box{
    position: absolute;
    left: 50%;
    top:370px;
    margin-left: -50px;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer;
}
.circle-active{
    background: #ff5151;
    box-shadow: 0 0 8px #ff5151;
}
.phone-bar{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.2);
}
.phone-box{
    width: 285px;
    line-height: 60px;
    margin: 0 auto;
    align-items: center;
    font-size: 22px;
    color: #ffffff;
}
.phone-box>img{
    margin-right: 6px;
}
.phone-box>span{
    font-size: 22px;
}


/*集团概况*/
.introduce-content{
    height:600px;
}
.introduce-box{
    width: 1200px;
    height: 425px;
    margin: 0 auto;
    position: relative;
}
.introduce-img-box{
    width: 600px;
    height: 360px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 55px;
    overflow: hidden;
}
.introduce-img-box>img{
    width: 100%;
    height: 100%;
    transition: all .6s cubic-bezier(.4,0,.2,1);


}
.introduce-img-box>img:hover{
    transform: scale(1.05)
}
.introduce-text-box{
    width: 580px;
    height: 220px;
    padding: 35px 30px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 3px 7px #dbdbdb;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 2;
    line-height: 30px;
    font-size: 16px;
}
.introduce-btn{
    position: absolute;
    bottom: 45px;
    left: 30px;
}
.introduce-btn,.business-right-btn{
     width: 120px;
     height: 40px;
     line-height: 40px;
     font-size: 16px;
     color: #ffffff;
     background: #ff5151;
     border-radius: 5px;
     text-align: center;
 }
.business-right-btn{
    position: absolute;
    bottom: 45px;
    right: 45px;
}
.introduce-btn:hover{
    background: red;
}

/*企业优势*/
.advantage-content{
    height:650px;
}
.advantage-box{
    width: 1175px;
    margin: 60px auto 0;
    justify-content: space-between;
    flex-wrap: wrap ;
}

.advantage-main-box{
    width: 355px;
    height: 150px;
    text-align: left;
    color: #666666;
    overflow: visible;
    margin: 30px 10px 10px;
}
.advantage-main-detail{
    font-size: 15px;
    line-height: 25px;
}
.adv-icon{
    width: 50px;
    height: 55px;
    margin: 15px 40px 0 0;
}
.advantage-main-title{
    font-size: 18px;
    margin-bottom: 15px;
}


/*企业愿景*/
.vision-content{
    height:500px;
    background: url("../img/bg2.png");
}
.vision-box{
    width: 1200px;
    margin: 0 auto;
}
.vision-main-box{
    width: 205px;
    margin: 70px 42px;
    float: left;
    display: none;
}
.vision-main-box>p{
    text-align: center;
    font-size: 18px;
    color: #333333;
    margin-top: 50px;
}
.vision-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    transition: all .6s linear;
    transform: rotate(0deg);
}
.v1-shadow{
    border: 2px solid #ff5151;
    box-shadow: 0 0 20px 6px rgba(254,106,106,.47);
}
.v2-shadow{
    border: 2px solid #ff5151;
    box-shadow: 0 0 20px 6px rgba(254,106,106,.47);
    /*border: 2px solid rgb(255,170,64);*/
    /*box-shadow: 0 0 20px 6px rgba(255,170,64,.47);*/
}
.v3-shadow{
    border: 2px solid #ff5151;
    box-shadow: 0 0 20px 6px rgba(254,106,106,.47);
    /*border: 2px solid rgb(60,157,208);*/
    /*box-shadow: 0 0 20px 6px rgba(60,157,208,.47);*/
}
.v4-shadow{
    border: 2px solid #ff5151;
    box-shadow: 0 0 20px 6px rgba(254,106,106,.47);
    /*border: 2px solid rgb(219,98,212);*/
    /*box-shadow: 0 0 20px 6px rgba(219,98,212,.47);*/
}
.vision-icon-s{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.vision-icon-s>img{
    width: 100%;
    height: 100%;
}
.vision-icon:hover{
    transform: rotate(360deg);
}
/*旗下业务*/
.business-content{
    height:700px;
    /*background: -webkit-linear-gradient(19deg, #21D4FD, #B721FF); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(19deg, #21D4FD, #B721FF); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(19deg, #21D4FD, #B721FF); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(19deg, #21D4FD, #B721FF); !* 标准的语法 *!*/

    background: -webkit-linear-gradient(19deg, #6bc9ff, #86dbfd); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(19deg, #6bc9ff, #86dbfd); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(19deg, #6bc9ff, #86dbfd); /* Firefox 3.6 - 15 */
    background: linear-gradient(19deg, #6bc9ff, #86dbfd); /* 标准的语法 */

    /*background: -webkit-linear-gradient(19deg, #D6E6FF, #F7EBF3); !* Safari 5.1 - 6.0 *!*/
    /*background: -o-linear-gradient(19deg, #D6E6FF, #F7EBF3); !* Opera 11.1 - 12.0 *!*/
    /*background: -moz-linear-gradient(19deg, #D6E6FF, #F7EBF3); !* Firefox 3.6 - 15 *!*/
    /*background: linear-gradient(19deg, #D6E6FF, #F7EBF3); !* 标准的语法 *!*/

    /*background: #f5f5f5;*/
}
.business-box{
    width: 1190px;
    margin: 60px auto 0;
    position: relative;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.business-left{
    width: 630px;
    height: 420px;
    flex-wrap: wrap;
}
.business-right{
    width: 440px;
    height: 320px;
    padding: 45px;
    color: #ffffff;
    font-size: 16px;
    background:  rgba(255,255,255,.5);
    border-radius: 8px;
    position: relative;
}
.business-btn{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    /*margin: 5px;*/
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 0 #dbdbdb;
    z-index: 1;
    transition: all .1s linear;
}

.business-btn-on{
    /*box-shadow: 0px 0px 10px 15px #dbdbdb;*/
    box-shadow: 0px 0px 15px 15px #ffffff;
    /*box-shadow: 0px 0px 20px 5px #666666;*/
    z-index: 2;
}
.business-icon{
    display: inline-block;
    margin: 30px auto;
}
.business-title{
    font-size: 18px;
    color: #333333;
    line-height: 15px;
    display:inline-block;
    padding-bottom: 20px;
    border-bottom: 2px solid #ff5151;
    margin-bottom: 20px;
}
.business-detail{
    height: 200px;
    font-size: 14px;
    color: #333333;
    line-height: 30px;
}
/*.business-right-btn{*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*position: absolute;*/
    /*bottom: 45px;*/
    /*right: 45px;*/
    /*font-size: 16px;*/
    /*color: #ffffff;*/
    /*background: #ff5151;*/
    /*border-radius: 5px;*/
    /*text-align: center;*/
/*}*/

/*战略伙伴*/
.partners-content{
    padding-bottom: 60px;
}
.partners-box{
    width: 1200px;
    margin: 0 auto;
}
.partners-tabs{
    /*width: 990px;*/
    width: 690px;
    height: 100px;
    justify-content: space-between;
    margin: 40px auto 0;
}
.partners-tab{
    cursor: pointer;
}
.row{
    width: 0;
    height: 0;
    border-width: 33px;
    border-style: solid;
    border-color: transparent  transparent #eeeeee transparent;
    position: relative;
    transition: all .6s cubic-bezier(.4,0,.2,1);
    margin-top: -23px;
    /*left:220px;*/
    left:380px;

}
.partners-detail{
    width: 1080px;
    padding: 40px 45px 30px;
    border-radius: 5px;
    background:#eeeeee;
    color: #333333;
}

.p-two{
    display: none;
}
.p-three{
    display: none;
}
.p-detail{
    width: 520px;
    align-items: center;
    line-height: 30px;
    float:right;
    padding-top: 55px;
}

/*box6*/



.box-six-icon{
    width: 36px;
    height: 36px;
    margin: 20px auto 0 auto;
}
.six-icon1{background-position:-40px 0;}
.six-icon2{background-position:-80px 0;}
.six-icon3{background-position:-160px 0;}
.six-icon4{background-position:-240px 0;}
.six-icon5{background-position:0 -40px;}
.six-icon6{background-position:-80px -40px;}
.six-icon7{background-position:-160px -40px;}
.six-icon8{background-position:-240px -40px;}

.box-six-right-text{
    width: 560px;
    float: left;
    margin-left: 35px;
}
.box-six-right-title{
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 25px;
}
.box-six-right-btn{
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #F4BC1A;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 37px 75px 0 0;
    display: inline-block;
    float: right;
}
.box-six-right-btn:hover{
    background: #F4D013;
}
.box-six-right-upper{
    width: 470px;
    height:140px;
}
.box-six-right-footer{
    width: 100%;
    clear: both;
    margin-top:90px;
}
.box-six-right-code{
    width: 120px;
    height:120px;
    float: left;
    margin-right: 38px;
}
.box-six-footer-text{
    float: left;
    line-height: 30px;
    margin-top: 15px;
}








