
#banner-wrap{
    width: 100%;
    background-image: url("../img/index/home_banner.jpg") ;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-text-box{
    width: 800px;
    height: 65%;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -400px;
}
.big-text{
    font-size: 56px;
    margin-bottom: 45px;
}
.banner-down{
    width: 44px;
    height: 80px;
    background-position: 0 -400px;
    position: absolute;
    left: 50%;
    bottom: 70px;
    animation: banner-down 1.3s ease-in-out 1s infinite alternate;
    cursor: pointer;
}
@keyframes banner-down{
    from{transform:translate(0,0)}
    to{transform:translate(0,15px)}
}

/*集团概况*/
.introduce-content{
    overflow: hidden;
}
.introduce-box{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /*display: none;*/
    overflow: hidden;
    /*visibility: hidden;*/
}
.introduce-img-box{
    width: 600px;
    height: 420px;
    overflow: hidden;
    float: right;
    margin-top: 10px;
}
.introduce-img-box>img{
    width: 100%;
    height: 100%;
    transition: all .6s cubic-bezier(.4,0,.2,1);
}
.introduce-img-box>img:hover{
    transform: scale(1.02)
}
.introduce-text-box{
    width: 515px;
    float: left;
}
.introduce-text{
    margin-bottom: 80px;
    color: #666666;
    line-height: 25px;
    font-size: 16px;
}


.introduce-btn{
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #ffffff;
    background: #E34745;
    text-align: center;
    transition: all .3s linear;
    position: absolute;
    left: 0;
    bottom: 0;
 }
/*.business-right-btn{*/
    /*position: absolute;*/
    /*bottom: 45px;*/
    /*right: 45px;*/
/*}*/
.introduce-btn:hover{
    background: #D32F2E;
}

/*旗下业务*/
.business-content{
    background: #F6F6F8;
}
.business-main{
    width: 1200px;
    height: 535px;
    margin: 0 auto;
    position: relative;
    clear: both;
    /*overflow: hidden;*/
}
.business-box{
    width: 527px;
    height: 130px;
    padding: 40px 43px 0 30px;
    /*margin-top: 20px;*/
    float: left;
    box-shadow:none;
    cursor: pointer;
    position: relative;
    top:20px;
    transition: all .2s linear;
    display: none;
    /*transition: background .1s linear;*/
}
.business-box:hover{
    background: #ffffff;
    box-shadow:0px 4px 10px 0px rgba(238,238,238,1);
    top: 15px;
    /*margin-top: 10px;*/
}
.business-icon{
    width: 48px;
    height: 48px;
}
.zcgl{background-position: -100px -200px;}
.tzgl{background-position: -200px -200px;}
.jrkj{background-position: -300px -200px;}
.glzx{background-position: -500px -200px;}
.gyljr{background-position: -400px -200px;}
.zhky{background-position: 0 -200px;}

.business-box:hover .zcgl{background-position: -100px -100px;}
.business-box:hover .tzgl{background-position: -200px -100px;}
.business-box:hover .jrkj{background-position: -300px -100px;}
.business-box:hover .glzx{background-position: -500px -100px;}
.business-box:hover .gyljr{background-position: -400px -100px;}
.business-box:hover .zhky{background-position: 0 -100px;}

.business-right{
    width: 440px;
}
.business-title{
    font-size: 20px;
    color: #333333;
    line-height: 20px;
    font-weight: 600;
}
.business-detail{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    font-weight: 400;
    margin-top: 22px;
}
.business-box:hover .business-title{
    color: #D32F2E;
}

/*企业优势*/
.advantage-content{
    padding-bottom: 0;
}
.advantage-main{
    width: 100%;
    overflow: hidden;
}
.advantage-box{
    width: 15%;
    /*max-height: 700px;*/
    height: 700px;
    text-align: center;
    /*color: #666666;*/
    background-position: center center;
    float: left;
    color: #ffffff;
    position: relative;
}
.advantage-box-on{
    width: 25%;
}
.zsjrbj{background-image: url("../img/index/pic_1.png");}
.zyfktd{background-image: url("../img/index/pic_2.png");}
.jrkjcx{background-image: url("../img/index/pic_3.png");}
.aqfwbz{background-image: url("../img/index/pic_4.png");}
.dzjjfa{background-image: url("../img/index/pic_5.png");}
.yxyyzc{background-image: url("../img/index/pic_6.png");}
.adv-mask{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .6s linear;
}
.adv-icon{
    width: 100px;
    height: 86px;
    transition: all .6s linear;
    position: absolute;
    top:257px;
    left:50%;
    margin-left: -50px;
}
.adv-title{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top:383px;
    left:50%;
    margin-left: -60px;
    z-index: 5;
    transition: all .6s linear;
}
.adv-detail{
    width: 66%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    left: 50%;
    top: 750px;
    margin-left: -33%;
    transition: all .6s linear;
}
.advantage-box-on .adv-icon{
    top:220px;
}
.advantage-box-on .adv-title{
    top:346px;
}
.advantage-box-on .adv-detail{
    top:413px;
}
.advantage-box-on .adv-mask{
    background: rgba(211,47,46,.7);
}

.zsjrbj .adv-icon{background-position: 0 0;}
.zyfktd .adv-icon{background-position: -500px 0;}
.jrkjcx .adv-icon{background-position: -200px 0;}
.aqfwbz .adv-icon{background-position: -400px 0;}
.dzjjfa .adv-icon{background-position: -300px 0;}
.yxyyzc .adv-icon{background-position: -100px 0;}




/*企业愿景*/
.vision-content{
    overflow: hidden;
    /*display: none;*/
    /*visibility: hidden;*/

}
.vision-main{
    width: 1200px;
    margin: 0 auto;
}
.vision-box{
    width: 285px;
    height: 400px;
    float: left;
    margin: 0 10px;
    position: relative;
    top: 0;
    background: #f6f6f8;
    box-shadow:none;
    transition: all .3s linear;
    visibility: hidden;
}
.vision-box:hover{
    box-shadow:0px 10px 20px 0px rgba(238,238,238,1);
    top:-10px;
}
.vision-box:first-child{
    margin-left: 0;
}
.vision-box:nth-child(4){
    margin-right: 0;
}
.vision-box>p{
    text-align: center;
    color: #333333;
    /*margin-top: 50px;*/
    font-size:20px;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:28px;
}
.vision-icon{
    width: 64px;
    height: 64px;
    margin: 134px auto 40px auto;
}
.v1{background-position: 0 -300px}
.v2{background-position: -100px -300px}
.v3{background-position: -200px -300px}
.v4{background-position: -300px -300px}


/*战略伙伴*/
.partners-content{
    background:#f6f6f8;
}
.partners-box{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.partners-details{
    width: 710px;
    height: 300px;
    padding: 100px 40px 0;
    background:#ffffff;
    color: #333333;
    font-size: 16px;
    text-align: center;
    box-shadow:0 2px 4px 0 rgba(238,238,238,0.5);
}
.partners-detail{
    margin-top: 60px!important;
    line-height: 22px;
    text-align: left;
}
.partners-tabs{
    position: absolute;
    top: 0;
    right: 0;
    width: 442px;
    height: 400px;
}

.partners-tab-main{
    position: absolute;
    top: 0;
    right: 0;
}
.partners-tab{
    width: 410px;
    height: 200px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.partners-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(51,51,51,.6);
}
.partners-mask-on{
    background: rgba(211,47,46,.8);
}
.partners-tab-img{
    width: 410px;
    height: 200px;
    cursor: pointer;
    position: absolute;
    transition: all .6s cubic-bezier(.4,0,.2,1);
}
.partners-tab:hover .partners-tab-img{
    transform: scale(1.02);
}
.partners-tab>p{
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 200px;
    position: relative;
}
.row{
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent #C03D3C transparent transparent;
    position:absolute;
    left: 0;
    top:84px;
}

.p-two{
    display: none;
}
.p-three{
    display: none;
}
.p-detail{
    width: 520px;
    align-items: center;
    -webkit-align-items: center;
    line-height: 30px;
    float:right;
    padding-top: 55px;
}

/*box6*/



.box-six-icon{
    width: 36px;
    height: 36px;
    margin: 20px auto 0 auto;
}
.six-icon1{background-position:-40px 0;}
.six-icon2{background-position:-80px 0;}
.six-icon3{background-position:-160px 0;}
.six-icon4{background-position:-240px 0;}
.six-icon5{background-position:0 -40px;}
.six-icon6{background-position:-80px -40px;}
.six-icon7{background-position:-160px -40px;}
.six-icon8{background-position:-240px -40px;}

.box-six-right-text{
    width: 560px;
    float: left;
    margin-left: 35px;
}
.box-six-right-title{
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 25px;
}
.box-six-right-btn{
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #F4BC1A;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 37px 75px 0 0;
    display: inline-block;
    float: right;
}
.box-six-right-btn:hover{
    background: #F4D013;
}
.box-six-right-upper{
    width: 470px;
    height:140px;
}
.box-six-right-footer{
    width: 100%;
    clear: both;
    margin-top:90px;
}
.box-six-right-code{
    width: 120px;
    height:120px;
    float: left;
    margin-right: 38px;
}
.box-six-footer-text{
    float: left;
    line-height: 30px;
    margin-top: 15px;
}
.intro1{
    display: none;
}








